body {margin:0px;behavior:url("csshover.htc");overflow: scroll;}
a {color:#000000;text-decoration:none;}
a:hover {color:#999999;text-decoration:underline;}
#grid {width:1000px;border:1px;font-family:verdana;}
.menutab {width:240px;vertical-align:top;}
#menu, #baner {margin-top:30px;margin-left:40px;margin-right:40px;}
.address {color:#999999;font-size:10pt;font-weight:bold;text-align:justify;margin-bottom:70px;}
#menu ul {list-style:none;}
#menu li {width:120px;margin-left:-40px;padding:5px;font-size:10pt;font-weight:bolder;color:#090909;}
#menu a {color:#000000;text-decoration:none;}
#menu li:hover {color:#000000;background-color:#ffcb08;text-decoration:none;}
#active {color:#000000;background-color:#ffcb08;text-decoration:none;}
.textbase {width:520px;vertical-align:top;}
#text {margin-top:30px;margin-left:10px;margin-right:10px;}
.copy {width:200px;height:30px;font-size:8pt;position:relative;left:580px;}
#Pic {border:3px #C7C7C7 solid;padding:1px;}
.preview {border:1px #FFFFFF solid;margin:3px;}
.preview:hover {cursor:pointer;}
#bottphoto {position:relative;top:-5px;}
.head {height:181px;background:#FFFFFF url("/img/headback.jpg") center no-repeat;}
.bott {height:125px;background:#FFFFFF url("/img/bottback.jpg") center no-repeat;}
